
@model FinalProject.Models.Department

<h2>Department Details</h2>

<p><strong>ID:</strong> @Model.Id</p>

<p><strong>Name:</strong> @Model.Name</p>

<p><strong>Manager:</strong> @Model.Manager</p>

<a href="/Department/Index" class="btn btn-secondary">
    Back
</a>

